@import '../../styles/variables.scss';

.root {
	position: absolute;
	width: 100%;
	top: 0px;

	.wrapper {
	
		.image {
			position: relative;
			height: 100vw;
		}
	}	
}

.topMargin {
	height: 1px;
	margin-top: 40%;
}
